@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&family=Montserrat:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.hoverable {
  @apply transition duration-150 hover:opacity-70
}

input:focus {
  @apply outline-none
}

.search-input::placeholder {
  @apply text-neutral-600
}

form input {
  @apply px-4 py-3 mt-1 transition duration-200 ring-2 ring-transparent border focus:ring-accent bg-neutral-50 focus:bg-white placeholder:text-neutral-600 block w-full
}

form label {
  @apply font-medium
}

.product-title::before {
  content: '';
  background: #545454;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: translateX(-100%);
  transition: transform 200ms;
}

.product-title:hover::before {
  transform: translateX(0);
}

.section-heading {
  @apply text-3xl text-center font-semibold mb-12
}

.page-heading {
  @apply text-4xl font-semibold mb-8 bg-primary text-white px-4 py-2 text-center
}

.container-default {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
}

* {
  scroll-behavior: smooth;
}
